*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: rgb(33, 35, 41);
    height: 58vh;
    border-radius: 20px;
    margin: 10px 100px;
    width: 25%;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 110%;
}